<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protein Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Protein Tracker</h1>
    <p>Let's create your profile</p>

    <form>
        <label>Name</label>
        <input type="text" name="name" placeholder="Enter your name">

        <label>Age</label>
        <input type="number" name="age" placeholder="Enter your age">

        <label>Gender</label>
        <select name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select>

        <label>Weight (kg)</label>
        <input type="number" name="weight" placeholder="Enter your weight">

        <label>Height (cm)</label>
        <input type="number" name="height" placeholder="Enter your height">

        <label>Goal</label>
        <select name="goal">
            <option value="Gain">Gain Weight</option>
            <option value="maintain">Maintain Weight</option>
            <option value="lose">Lose Weight</option>
        </select>
       </form>

</body>
</html>