<!DOCTYPE html>
<html>
    <head>
        <title>Register - ProteinTracker</title>
    </head>
    <body>
        <h1>
            Create Account
        </h1>
        <form>
            <label>Name</label>
            <input type="text" name="name" required>    
        <label>Email</label>
            <input type="email" name="email" required>  
            <label>Password</label>
            <input type="password" name="password" required>
            <button typwe="submit">
                Create Account
                </button>
        </form>
    </body>
</html>